# data files
*.mat
*.h5
*.hdf5
*.npy
*.npz

# folders
raw_data/
archive/
!archive/
archive/*
!archive/parameter_sweepv01/
!archive/parameter_sweepv01/*.py
docs/

# python/cache
__pycache__/
.ipynb_checkpoints/
.venv/
